<h3>Tagebuch</h3>

<form>
  <div class="form-row">
    <div class="form-group col-3">
      <label for="entrydate">Datum</label>
      <app-date [date]="date" title="Datum des Eintrags" id="entrydate" (dateChange)="onDateChange($event)"></app-date>
    </div>
    <div class="form-group col-9">
        <label for="eintrag">Eintrag</label>
        <textarea class="form-control" title="Tagebuch-Eintrag" id="eintrag" name="entry" [(ngModel)]="entry" rows="10" cols="30"></textarea>
    </div>
  </div>
</form>

<div class="row" *ngIf="diary">
  <ul>
    <li *ngFor="let d of diary | async; let i = index" (click)="RemoveTbEintrag(i)">
        {{ d.datum | date:'yyyy-MM-dd' }} {{ d.eintrag }}
    </li>
  </ul>
</div>

<div class="left">

  <input type="text" placeholder="Datum" #datum>
  <input type="text" placeholder="Eintrag" #eintrag>

  <button (click)="SaveTbEintrag(datum.value,eintrag.value)">Add a day</button>
</div>

<div class="jumbotron">
  <div class="container">
    <ngb-alert type="success" [dismissible]="false">
      Bootstrap is working!
    </ngb-alert>

    <h1>
      <i class="fa fa-bath" aria-hidden="true"></i>
      And so is Font Awesome!
    </h1>
  </div>
</div>

<p>
  <ngb-alert [dismissible]="true">
    <strong>Warning!</strong> Better check yourself, you're not looking too good.
  </ngb-alert>
</p>
