<div class="form-group">
  <div class="input-group">
    <input class="form-control" placeholder="yyyy-mm-dd" (focus)="openSelection(d)" name="d" [(ngModel)]="seldate" ngbDatepicker #d="ngbDatepicker" [navigation]="select" />
    <div class="input-group-append">
      <button class="btn btn-outline-secondary calendar" (click)="onChanged(-1)" type="button">-</button>
      <button class="btn btn-outline-secondary calendar" (click)="onChanged()" type="button">o</button>
      <button class="btn btn-outline-secondary calendar" (click)="onChanged(1)" type="button">+</button>
    </div>
  </div>
</div>
